body {
    background-color: pink;
}

div {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    background-color: white;
}

h1 {
    margin: auto;
        width: 50%;
        padding: 10px;
        text-align: center;
        background-color: white;
}

table {
    margin: auto;
            width: 50%;
            padding: 10px;
            text-align: center;
}

.footer {
  left: 0;
  bottom: 0;
  margin: auto;
  width: 50%;
  background-color: white;
  color: black;
  text-align: center;
}

.square {
  width: 10px;
  height: 10px;
  background-color: turquoise;
}

.square1 {
  width: 10px;
  height: 10px;
  background-color: red;
}

.square2 {
   width: 10px;
   height: 10px;
   background-color: purple;
 }

.square3 {
    width: 10px;
    height: 25px;
    background-color: brown;
  }

.square4 {
     width: 10px;
     height: 10px;
     background-color: blue;
   }
